{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

        <link href="{% static 'css/output.css' %}" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{{ profile.logo.url }}" >

        <title>{{ profile.name }}'s portfolio</title>
    </head>
    <body>
        <header class="bg-l-crust dark:bg-f-gray sticky z-50 top-0 font-jetbrainsmono">
            <nav class="container mx-auto p-6 lg:px-8 flex items-center justify-between">
                <div class="flex items-center gap-2">
                    <img src="{{ profile.logo.url }}" alt="profile image" class="size-6"/>
                    <span class="text-l-gray-dark dark:text-f-white text-md">{{ profile.name }}</span>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="{% url 'index' %}#" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Home" %}</a>
                    <a href="{% url 'index' %}#about" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "About Me" %}</a>
                    {% if has_experience %}
                        <a href="{% url 'index' %}#experience" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">
                            {% translate "Experience" %}
                        </a>
                    {% endif %}
                    <a href="{% url 'index' %}#experience" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Experience" %}</a>
                    {% if has_projects or has_contributions %}
                        <a href="{% url 'index' %}#projects" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">
                            {% translate "Projects" %}
                        </a>
                    {% endif %}
                    <a href="mailto:{{ profile.mail }}" class="text-md font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Contact" %}</a>
                </div>
                <div class="flex items-center gap-4">
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select onchange="this.form.submit()" style="background-image: none" class="bg-l-white border-f-lavender text-l-gray-dark dark:bg-f-gray border dark:border-f-lavender dark:text-f-white text-sm rounded-lg focus:ring-f-lavender focus:border-f-lavender block w-full p-2.5 cursor-pointer" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option type="submit" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.code }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                        <img id="theme-mode" src="{% static 'img/light-mode.png' %}" alt="Dark mode" class="h-6 cursor-pointer">
                    
                    <div id="hamburger-menu" class="space-y-1 lg:hidden cursor-pointer z-10">
                        <div class="w-6 h-0.5 bg-black dark:bg-f-lavender"></div>
                        <div class="w-6 h-0.5 bg-black dark:bg-f-lavender"></div>
                        <div class="w-6 h-0.5 bg-black dark:bg-f-lavender"></div>
                    </div>
                </div>
                <ul id="dropdown-menu" class="hidden absolute left-0 top-0 w-full bg-l-crust dark:bg-f-gray p-10 space-y-4 text-center">
                    <li>
                        <a href="{% url 'index' %}#" class="text-lg font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Home" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#about" class="text-lg font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "About Me" %}</a>
                    </li>
                    {% if has_experience %}
                        <li>
                            <a href="{% url 'index' %}#experience" class="text-lg font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Experience" %}</a>
                        </li>
                    {% endif %}
                    {% if has_experience %}
                        <li>
                            <a href="{% url 'index' %}#projects" class="text-lg font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Projects" %}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="mailto:{{ profile.mail }}" class="text-lg font-semibold leading-6 text-l-gray-dark dark:text-f-white hover:text-l-lavender dark:hover:text-f-lavender">{% translate "Contact" %}</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <main role="main" class="bg-l-white dark:bg-f-gray-light dark:text-f-white">
            {% block content %}{% endblock %}
        </main>

        <footer class="w-full p-6 bg-l-crust dark:bg-f-gray text-l-gray-dark dark:text-f-white">
            <div class="text-center">
                <p>
                    © {% now "Y" %}
                    <a class="font-semibold" href="mailto:{{ profile.mail }}">
                        {{ profile.name }}
                    </a>
                </p>
            </div>
        </footer>

        <script src="{% static 'js/app.js' %}"></script>
        <script>
            const darkModeIcon = "{% static 'img/dark-mode.png' %}";
            const lightModeIcon = "{% static 'img/light-mode.png' %}";
        </script>
    </body>
</html>