{% extends "portfolio/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <section id="about" class="px-10">
        <div class="container mx-auto flex flex-col-reverse lg:flex-row md:py-24 py-24 gap-32 justify-center items-center">
            <div class="relative overflow-hidden">
                <img
                    src="{{ profile.image.url }}"
                    alt="profile image"
                    class="border-4 border-f-blue rounded-full my-4 w-72 h-72"
                />
            </div>
            <div class="my-auto flex flex-col gap-4 items-center">
                <h1 class="font-extrabold leading-tight tracking-tight sm:text-4xl text-2xl dark:text-f-blue text-f-blue font-jetbrainsmono">About Me</h1>
                <div class="dark:text-f-white text-l-gray-dark text-l py-8 whitespace-pre-wrap max-w-xl mx-auto font-ubuntu">{{ profile.description }}</div>
                <div class="w-60 h-0.5 bg-f-blue"></div>
                <div class="flex flex-row gap-4 font-jetbrainsmono">
                    {% if profile.github_url %}
                        <a
                            href="{{ profile.github_url }}"
                            class="flex items-center px-4 py-2 bg-l-crust dark:bg-l-gray-dark hover:bg-f-blue dark:hover:bg-f-blue hover:dark:text-l-gray-dark text-f-gray-light dark:text-f-white rounded-full border border-f-blue"
                        >
                            <img src="{% static 'img/github-logo.png' %}" alt="Github Logo" class="w-6 h-6 sm:mr-2">
                            <span class="hidden sm:block">GitHub</span>
                        </a>
                        {% endif %}
                    
                        {% if profile.linkedin_url %}
                        <a
                            href="{{ profile.linkedin_url }}"
                            class="flex items-center px-4 py-2 bg-l-crust dark:bg-l-gray-dark hover:bg-f-blue dark:hover:bg-f-blue hover:dark:text-l-gray-dark text-f-gray-light dark:text-f-white rounded-full border border-f-blue"
                        >
                            <img src="{% static 'img/linkedin-logo.png' %}" alt="Linkedin Logo" class="w-6 h-6 sm:mr-2">
                            <span class="hidden sm:block">LinkedIn</span>
                        </a>
                        {% endif %}
                    
                        {% if profile.resume %}
                        <a
                            href="{{ profile.resume.url }}"
                            download
                            class="flex items-center px-4 py-2 bg-l-crust dark:bg-l-gray-dark hover:bg-f-blue dark:hover:bg-f-blue hover:dark:text-l-gray-dark text-f-gray-light dark:text-f-white rounded-full border border-f-blue"
                        >
                            <img src="{% static 'img/resume-logo.png' %}" alt="Resume Logo" class="w-6 h-6 sm:mr-2">
                            <span class="hidden sm:block">CV</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section id="experience">
        {% if has_experience %}
            <div class="container mx-auto px-6 md:py-24 py-24">
                <h1 class="font-extrabold leading-tight tracking-tight pb-10 sm:text-4xl text-2xl text-f-red text-center font-jetbrainsmono">Work experience</h1>
                <div class="relative border-l-2 border-l-gray-light max-w-3xl mx-auto">
                    {% for experience in profile.Experience.all %}
                        <div class="relative pl-12 py-8">
                            <div class="absolute -left-2 top-6 w-4 h-4 rounded-full bg-f-pink flex items-center justify-center">
                            </div>
                            <div class="ml-6">
                                <div class="flex items-center justify-between mb-2">
                                    <h2 class="text-lg font-semibold text-f-red font-jetbrainsmono">{{ experience.job_title }}</h2>
                                    <span class="text-sm dark:text-f-white text-l-gray-dark font-semibold font-jetbrainsmono">{{ experience.date_start|date:"M Y" }}-{{ experience.date_end|date:"M Y" }}</span>
                                </div>
                                <p class="text-sm dark:text-f-white text-l-gray-dark mb-4 font-semibold font-jetbrainsmono">{{ experience.company_name }}</p>
                                <div class="dark:text-f-white text-l-gray-dark text-l whitespace-pre-wrap font-ubuntu">{{ experience.job_description }}</div>
                                <div class="flex gap-2 mb-4">
                                    {% for tech in experience.technologies.all %}
                                        <span class="flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-f-pink text-l-gray-dark dark:text-l-gray-dark font-jetbrainsmono">
                                            <img 
                                                src="{{ tech.logo.url }}" 
                                                alt="{{ tech.name }} logo" 
                                                class="w-4 h-4 mr-1"
                                            />
                                            {{ tech.name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if has_contributions %}
            <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
                <div class="max-w-2xl mx-auto text-center">
                    <h1 class="font-extrabold leading-tight tracking-tight text-f-peach sm:text-4xl text-2xl dark:text-f-peach font-jetbrainsmono">
                        Contributions
                    </h1>
                </div>
                <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-y-12 sm:grid-cols-2 justify-items-center">
                    {% for contribution in profile.Contribution.all %}
                        <div class="space-y-4 max-w-sm">
                            <h3 class="text-2xl font-extrabold leading-tight dark:text-f-white text-l-gray-dark break-words font-jetbrainsmono">
                                {{ contribution.project }}
                            </h3>
                            <div class="dark:text-f-white text-l-gray-dark text-l whitespace-pre-wrap font-ubuntu">{{ contribution.description }}</div>
                            <a
                                href="{{ contribution.project_url }}"
                                class="text-l-rosewater text-sm font-jetbrainsmono"
                            >
                                See the repo &gt;
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>

    <section id="projects" class="px-10">
        {% if has_projects %}
            <div class="container mx-auto py-24">
                <h1 class="font-extrabold leading-tight tracking-tight pb-10 sm:text-4xl text-2xl text-f-lavender text-center font-jetbrainsmono">Projects</h1>
                <div class="flex flex-wrap justify-center gap-10">
                    {% for project in profile.Project.all %}
                        <div class="bg-l-crust dark:bg-f-gray p-5 rounded-lg max-w-xl">
                            <img 
                                src="{{ project.image_preview.url }}" 
                                alt="{{ project.name }} preview" 
                                class="rounded-lg object-cover h-48 w-full mb-4"
                            />
                            <h2 class="font-extrabold leading-tight tracking-tight sm:text-2xl text-xl dark:text-f-white text-l-gray-dark font-jetbrainsmono">
                                {{ project.name }}
                            </h2>
                            <p class="dark:text-f-white text-l-gray-dark text-l my-4 font-ubuntu">
                                {{ project.description }}
                            </p>
                            <div class="flex gap-2 mb-4">
                                {% for tech in project.technologies.all %}
                                    <span class="flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-f-lavender text-l-gray-dark dark:text-l-gray-dark font-jetbrainsmono">
                                        <img 
                                            src="{{ tech.logo.url }}" 
                                            alt="{{ tech.name }} logo" 
                                            class="w-4 h-4 mr-1"
                                        />
                                        {{ tech.name }}
                                    </span>
                                {% endfor %}
                            </div>
                            <div class="flex gap-4 font-jetbrainsmono">
                                {% if project.github_url %}
                                    <a
                                        href="{{ project.github_url }}"
                                        class="flex items-center px-4 py-2 bg-l-crust dark:bg-l-gray-dark hover:dark:text-l-gray-dark hover:bg-f-lavender dark:hover:bg-f-lavender text-f-gray-light dark:text-f-white rounded-full border border-f-lavender"
                                    >
                                        <img src="{% static 'img/github-logo.png' %}" alt="Github Logo" class="w-6 h-6 sm:mr-2">
                                        <span class="hidden sm:block">GitHub</span>
                                    </a>
                                {% endif %}
                                {% if project.preview_url %}
                                    <a href="{{ project.preview_url }}" class="flex items-center px-4 py-2 bg-l-crust dark:bg-l-gray-dark hover:dark:text-l-gray-dark hover:bg-f-lavender dark:hover:bg-f-lavender text-f-gray-light dark:text-f-white rounded-full border border-f-lavender">
                                        Preview
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>

{% endblock content %}
