{% extends "portfolio/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <section id="about" class="px-10">
        <div class="container mx-auto flex flex-col-reverse lg:flex-row py-20 gap-20 justify-center items-center">
            <div class="relative overflow-hidden">
                <img
                    src="{{ profile.image.url }}"
                    alt="profile image"
                    class="border-4 border-f-blue rounded-full my-4"
                />
            </div>
            <div class="my-auto flex flex-col gap-4 items-center lg:items-start">
                <h1 class="font-semibold dark:text-f-blue text-f-blue text-2xl">About Me</h1>
                <div class="font-readex dark:text-f-white text-l-gray-dark text-l whitespace-pre-wrap">{{ profile.description }}</div>
                <div class="flex flex-row gap-4">
                    {% if profile.github_url %}
                    <a
                        href="{{ profile.github_url }}"
                    >
                        <img src="{% static 'img/github-logo.png' %}" alt="Github Logo" class="size-10 cursor-pointer">
                    </a>
                    {% endif %}

                    {% if profile.linkedin_url %}
                    <a
                        href="{{ profile.linkedin_url }}"
                    >
                        <img src="{% static 'img/linkedin-logo.png' %}" alt="Linkedin Logo" class="size-10 cursor-pointer">
                    </a>
                    {% endif %}

                    {% if profile.resume %}
                    <a href="{{ profile.resume.url }}" download>
                        <img src="{% static 'img/resume-logo.png' %}" alt="Resume Logo" class="size-10 cursor-pointer">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section id="experience">

        {% if has_contributions %}
            <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
                <div class="max-w-2xl mx-auto text-center">
                    <h1 class="text-2xl font-extrabold leading-tight tracking-tight text-f-peach sm:text-4xl dark:text-f-peach">
                        Contributions
                    </h2>
                </div>
                <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
                    {% for contribution in profile.Contribution.all %}
                        <div class="space-y-4">
                            <h3 class="text-2xl font-bold leading-tight dark:text-f-white text-l-gray-dark">
                                {{ contribution.project }}
                            </h3>
                            <div class="font-readex dark:text-f-white text-l-gray-dark text-l whitespace-pre-wrap">{{ contribution.description }}</div>
                            <a
                                href="{{ contribution.project_url }}"
                                class=" dark:text-f-white text-l-gray-dark"
                            >
                            Source
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>

    <section id="projects">
        
    </section>

{% endblock content %}
